@keyframes eyeAnimationLeftRight{
    0%{
        left: 0px;
    }
    25%{
        left: 65px;
    }
    50%{
        left: 0px;
    }
    75%{
        left: -65px;
    }
    100%{
        left: 0px;
    }
}
@keyframes smallEyeAnimationLeftRight{
    0%{
        left: 0px;
    }
    25%{
        left: 73px;
    }
    50%{
        left: 0px;
    }
    75%{
        left: -73px;
    }
    100%{
        left: 0px;
    }
}
@keyframes eyeAnimationEight{
    0%{
        bottom: 139px;
        left: 54px;
    }

    10%{
        bottom: 144px;
        left: 5px;
    }
    20%{
        bottom: 139px;
        left: -25px;
    }
    30%{
        bottom: 130px;
        left: -15px;
    }
    40%{
        bottom: 125px;
        left: 30px;
    }
    50%{
        bottom: 139px;
        left: 54px;
    }
    60%{
        bottom: 144px;
        left: 103px;
    }
    70%{
        bottom: 144px;
        left: 133px;
    }
    80%{
        bottom: 130px;
        left: 130px;
    }
    90%{
        bottom: 125px;
        left: 98px;
    }
    100%{
        bottom: 139px;
        left: 54px;
    }
}
@keyframes smallEyeAnimationEight{
    0%{
        bottom: 193px;
        left: 81px;
    }

    10%{
        bottom: 198px;
        left: 32px;
    }
    20%{
        bottom: 193px;
        left: -5px;
    }
    30%{
        bottom: 184px;
        left: 5px;
    }
    40%{
        bottom: 179px;
        left: 50px;
    }
    50%{
        bottom: 193px;
        left: 81px;
    }
    60%{
        bottom: 198px;
        left: 130px;
    }
    70%{
        bottom: 198px;
        left: 160px;
    }
    80%{
        bottom: 184px;
        left: 160px;
    }
    90%{
        bottom: 179px;
        left: 125px;
    }
    100%{
        bottom: 193px;
        left: 81px;
    }
}
@keyframes eyeAnimationClip{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes eyeAnimationClose{
    0%{
        background-color: transparent;
    }

    100%{
        background-color: var(--EyeGradient);


    }
}
@keyframes eyeAnimationUpDown{
    0%{
        bottom: 253px;
    }
    25%{
        bottom: 284px;
    }
    50%{
        bottom: 253px;
    }
    75%{
        bottom: 224px;
    }
    100%{
        bottom: 253px;
    }
}
@keyframes smallEyeAnimationUpDown{
    0%{
        bottom: 307px;
    }
    25%{
        bottom: 349px;
    }
    50%{
        bottom: 307px;
    }
    75%{
        bottom: 273px;
    }
    100%{
        bottom: 307px;
    }
}
@keyframes eyeAnimationClock{

    0%{
        bottom: 288px;
        left: 0px;
    }
    25%{
        bottom: 250px;
        left: 80px;
    }
    50%{
        bottom: 222px;
        left: 0px;
    } 
    75%{
        bottom: 250px;
        left: -80px;
    }
    100%{
        bottom: 288px;
        left: 0px;
    }
}
@keyframes smallEyeAnimationClock{

    0%{
        bottom: 351px;
        left: 0px;
    }
    25%{
        bottom: 307px;
        left: 90px;
    }
    50%{
        bottom: 265px;
        left: 0px;
    } 
    75%{
        bottom: 307px;
        left: -90px;
    }
    100%{
        bottom: 351px;
        left: 0px;
    }
}
@keyframes nearAndFar1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes nearAndFar2{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes eyeAnimationCircle{

    0%{
        bottom: 288px;
        left: 0px;
    }
    13%{
        bottom: 276px;
        left: 50px;
    }
    26%{
        bottom: 250px;
        left: 80px;
    }
    39%{
        bottom: 238px;
        left: 50px;
    }
    52%{
        bottom: 222px;
        left: 0px;
    }
    65%{
        bottom: 234px;
        left: -50px;
    }
    78%{
        bottom: 250px;
        left: -80px;
    } 
    91%{
        bottom: 276px;
        left: -50px;
    }
    100%{
        bottom: 288px;
        left: 0px;
    }
}
@keyframes smallEyeAnimationCircle{

    0%{
        bottom: 351px;
        left: 0px;
    }
    13%{
        bottom: 339px;
        left: 60px;
    }
    26%{
        bottom: 313px;
        left: 90px;
    }
    39%{
        bottom: 281px;
        left: 60px;
    }
    52%{
        bottom: 265px;
        left: 0px;
    }
    65%{
        bottom: 281px;
        left: -60px;
    }
    78%{
        bottom: 313px;
        left: -90px;
    } 
    91%{
        bottom: 339px;
        left: -60px;
    }
    100%{
        bottom: 351px;
        left: 0px;
    }
}