@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic');

@font-face {
    font-family: 'SFUIDISPLAY-REGULAR';
    font-weight: 700, 400;
    font-style: normal;
    src: url(./SFUIDISPLAY-REGULAR.TTF);
}
@font-face {
    font-family: 'SFUIDISPLAY-LIGHT';
    font-weight: 700, 400;
    font-style: normal;
    src: url(./SFUIDISPLAY-LIGHT.TTF);
}
:root{
    --black: #1f1f1f;
    --gray: #333336;
    --lightGray: #6b6b6f ;
    --transparent: rgb( 255,255,255, 0);
    --white: #fff;
}

#button{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 40px;
    width: 320px;
    background-color: var(--gray);
    border-radius: 10px; 
}
#button1{
    display: flex;
    border: none;
    justify-content: center;
    margin: auto;
    height: 32px;
    width: 156px;
    background-color: var(--lightGray);
    border-radius: 12px;
    color: white; 
}
#button2{
    display: flex;
    border: none;
    justify-content: center;
    margin: auto;
    height: 32px;
    width: 156px;
    background-color: transparent;
    border-radius: 15px; 
    color: white;
}
body{
    font-family: 'SFUIDISPLAY-REGULAR';
    font-weight: normal;
    height: 736px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--black);

}

.EyeTraningPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.EyeTraningPage-changing{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 40px;
    width: 322px;
    background-color: var(--gray);
    border-radius: 15px;

}

.EyeTraningPage-trainigsToday{
    display: flex;
    margin: 144px auto 30px auto;
}
#Menu{
    display: flex;
    margin: 0 auto 22px auto;
    justify-content:center;
}
#Content{
    flex-grow: 1;
    background-color: var(--black);
}
#Area{
    height: 720px;
    display: flex;
    flex-direction: column;
    background-color: var(--black);

}
#MainButtonStart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 155px;
    width: 155px;
    background-color: var(--gray);
    border-radius: 100px;
}

.ButtonCircle1{
    width: 30px;
    height: 30px;
    
    margin: 0px 0px 15px 0px;
    

    border-top: 10px solid var(--lightGray);
    border-right: 0px solid var(--lightGray);
    border-bottom: 0px solid var(--lightGray);
    border-left: 10px solid var(--lightGray);
    border-radius: 50px 0px 0px 0px;
    background-color: transparent;
}
.ButtonCircle2{
    width: 30px;
    height: 30px;
    
    margin: 15px 0px 0px 0px;
    

    border-top: 0px solid var(--lightGray);
    border-right: 0px solid var(--lightGray);
    border-bottom: 10px solid var(--lightGray);
    border-left: 10px solid var(--lightGray);
    border-radius: 0px 0px 0px 50px;
    background-color: transparent;
}
.ButtonCircle3{
    width: 30px;
    height: 30px;
    
    margin: 0px 0px 15px 0px;
    


    border-top: 10px solid var(--lightGray);
    border-right: 10px solid var(--lightGray);
    border-bottom: 0px solid var(--lightGray);
    border-left: 0px solid var(--lightGray);
    border-radius: 0px 50px 0px 0px;
    background-color: transparent;
}
.ButtonCircle4{

    width: 30px;
    height: 30px;
    
    margin: 15px 0px 0px 0px;
    
      
    border-top: 0px solid var(--lightGray);
    border-right: 10px solid var(--lightGray);
    border-bottom: 10px solid var(--lightGray);
    border-left: 0px solid var(--lightGray);
    border-radius: 0px 0px 50px 0px;
    background-color: transparent;
}
.ButtonCircles1_1{
    width: 9px;
    height: 9px;
    margin: 0px 0px 0px 0px;
    position: relative;
    left: 25px;
    bottom: 10px;


    border-top: 1px solid var(--lightGray);
    border-right: 1px solid var(--lightGray);
    border-bottom: 0px solid var(--lightGray);
    border-left: 0px solid var(--lightGray);
    border-radius: 100px;
    background-color: var(--lightGray);
}
.ButtonCircles1_2{
    width: 9px;
    height: 9px;
    position: relative;
    top: 15px;
    right: 10px;
    

    border-top: 1px solid var(--lightGray);
    border-right: 1px solid var(--lightGray);
    border-bottom: 0px solid var(--lightGray);
    border-left: 0px solid var(--lightGray);
    border-radius: 100px;
    background-color: var(--lightGray);
}
.ButtonCircles2_1{
    width: 9px;
    height: 9px;
    position: relative;
    bottom: 5px;
    right: 10px;

    border-top: 1px solid var(--lightGray);
    border-right: 1px solid var(--lightGray);
    border-bottom: 0px solid var(--lightGray);
    border-left: 0px solid var(--lightGray);
    border-radius: 100px;
    background-color: var(--lightGray);
}
.ButtonCircles2_2{
    width: 9px;
    height: 9px;
    position: relative;
    top: 20px;
    left: 25px;

    border-top: 1px solid var(--lightGray);
    border-right: 1px solid var(--lightGray);
    border-bottom: 0px solid var(--lightGray);
    border-left: 0px solid var(--lightGray);
    border-radius: 100px;
    background-color: var(--lightGray);
}
.ButtonCircles3_1{
    width: 9px;
    height: 9px;
    margin: 0px 0px 0px 0px;
    position: relative;
    right: 5px;
    bottom: 10px;


    border-top: 1px solid var(--lightGray);
    border-right: 1px solid var(--lightGray);
    border-bottom: 0px solid var(--lightGray);
    border-left: 0px solid var(--lightGray);
    border-radius: 100px;
    background-color: var(--lightGray);
}
.ButtonCircles3_2{
    width: 9px;
    height: 9px;
    position: relative;
    top: 15px;
    left: 30px;
    

    border-top: 1px solid var(--lightGray);
    border-right: 1px solid var(--lightGray);
    border-bottom: 0px solid var(--lightGray);
    border-left: 0px solid var(--lightGray);
    border-radius: 100px;
    background-color: var(--lightGray);
}
.ButtonCircles4_1{
    width: 9px;
    height: 9px;
    position: relative;
    top: 30px;
    right: 5px;

    border-top: 1px solid var(--lightGray);
    border-right: 1px solid var(--lightGray);
    border-bottom: 0px solid var(--lightGray);
    border-left: 0px solid var(--lightGray);
    border-radius: 100px;
    background-color: var(--lightGray);
}
.ButtonCircles4_2{
    width: 9px;
    height: 9px;
    position: relative;
    bottom: 15px;
    left: 30px;

    border-top: 1px solid var(--lightGray);
    border-right: 1px solid var(--lightGray);
    border-bottom: 0px solid var(--lightGray);
    border-left: 0px solid var(--lightGray);
    border-radius: 100px;
    background-color: var(--lightGray);
}
.BigMenuButtom{
    display: flex;
    height: 62px;
    width: 62px;
    background-image: -webkit-linear-gradient( 90deg, rgb(61,209,242) 0%, rgb(61,139,242) 100%);
    border-radius: 100px;
}
.SmallMenuButtom{
    height: 45px;
    width: 45px;
    background-color: var(--gray);
    border-radius: 100px;
}

